<!-- Note that same onClick for two spans is for convenience on the javascript end -->
<ul id="organization-filter-dropdown" class="dropdown-menu" role="menu">
<% id = 0 %>
<% ["Elders Quorum", "High Priests Group", "Relief Society", "Single Adult",
"Young Single Adult", "Young Men", "Young Women", "Primary"].each do |organization| %>
  <% id += 1 %>
  <li id='organization-<%= id %>-filter-li'>
    <a onClick="window.updateFilters('organization','<%= organization %>',<%= id %>);"
       style="cursor: pointer;"
       class='no-bootstrap'>
    <span id='organization-<%= id %>-filter'>
      <i class='fa fa-square-o fa-2x'></i>
    </span>
    <span class='organization-filter'>
      <%= organization %>
    </span>
    </a>
  </li>
<% end %>
</ul>
