<ul id="tags-filter-dropdown" class="dropdown-menu" role="menu">
  <!-- LIST PUBLIC TAGS -->
  <!-- Note that same onClick for two spans is for convenience on the javascript end -->
<% Tag.where("organization = ? OR organization = ?", "All", "Internal").each do |tag| %>
  <li class='filter-updater no-bootstrap'
      data-source='tags'
      data-value='<%= tag.body %>'
      data-id='<%= tag.id %>'
      style="cursor: pointer;"
      id='tag-<%= tag.id %>-filter-li'>
    <a>
      <span id='tag-<%= tag.id %>-filter'>
        <i class='fa fa-square-o fa-2x'></i>
      </span>
      <span class='label-tag-filter label label-<%= tag.color %>'>
        <%= tag.body %>
      </span>
    </a>
  </li>
<% end %>
<% if Tag.where(organization: current_user.organization).count > 0 %>
  <li class="divider"></li>
<% end %>
<!-- LIST USER TAGS -->

<% Tag.where(organization: current_user.organization).each do |tag| %>
  <li class='filter-updater no-bootstrap'
      data-source='tags'
      data-value='<%= tag.body %>'
      data-id='<%= tag.id %>'
      style="cursor: pointer;"
      id='tag-<%= tag.id %>-filter-li'>
    <table>
      <tr id="custom-tag-<%= tag.id %>">
        <td class='tag-td gray-hover'>
          <a>
          <span id='tag-<%= tag.id %>-filter'>
              <i class='fa fa-square-o fa-2x'></i>
          </span>
          <span class='label-tag-filter label label-<%= tag.color %>' >
            <%= tag.body %>
          </span>
          </a>
        </td>
        <td class='edit-tag-td'>
          <%= link_to edit_tags_dialog_path(id: tag.id), remote: true  do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        </td>
        <td class='delete-tag-td'>
          <%= link_to tag, method: :delete,
            data: { confirm: 'Permanently delete tag?'},
            authenticity_token: true  do |f| %>
            <i class="fa fa-times"></i>
          <% end %>
        </td>
      </tr>
    </table>
  </li>
<% end %>
<li class="divider"></li>
 <!-- CREATE -->
   <li>
    <a data-remote="true"
       href="/create_tags_dialog">
       <i style="margin-left:3px;" class='fa fa-plus fa-lg'></i>
       <span style="margin-left:8px;">Create Tag</span>
     </a>
   </li>
</ul>
