<% if flash[:notice] != '' && flash[:notice] %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <%= flash[:notice] = '' %>
</div>
<% end %>

<%= flash[:notice].to_s %>
<%= flash[:notice] == '' %>
<%= flash[:notice] == nil %>

<% flash[:notice] = '' %>

<div class="log-in">
<h1>Sign in</h1>
<div class="log-in-box">
<%= form_tag sessions_path do %>
    <%= label_tag :username, "LDS Account Username", class: "log-in-title"%><br />
    <%= text_field_tag :username, params[:username],
                                  class: "form-control log-in-input",
                                  autocomplete: "off"   %>
    <%= label_tag :password, "Password", class: "log-in-title" %><br />
    <%= password_field_tag :password, params[:password],
                                      class: "form-control log-in-input",
                                      autocomplete: "off"
                                        %>
    <%= submit_tag "Sign in", class: "padded-btn btn btn-success pull-right" %>
<% end %>
</div>


</div>
