<div id="member-tags">
    <div class="row">
      <!--
      organization: "All"
      "organization = ? OR organization =?", "All", "Internal"
      -->
      <% Tag.where(organization: "All").each do |tag| %>
        <% tag_history = TagHistory.where(member_id: member.id, tag_id: tag.id).first %>
        <% if tag_history %>
          <% active = tag_history.active? %>
        <% end %>
        <div class="col-xs-1 col-sm-2 col-md-4 text-right spaced-col">
        <%= form_for tag,
          remote: true,
          url: "/update_member_tag",
          authenticity_token: true  do |f| %>
          <%= hidden_field_tag "tag_id", tag.id %>
            <%= hidden_field_tag "member_id", member.id %>
            <% if active %>
              <%= hidden_field_tag "removed_by", current_user.name %>
              <%= hidden_field_tag "removed_at", Time.zone.now %>
              <%= button_tag(type: "submit", class: "btn btn-invis btn-default") do %>
                <i class='fa fa-check-square-o fa-2x'></i>
              <% end %>
            <% else %>
              <%= hidden_field_tag "added_by", current_user.name %>
              <%= hidden_field_tag "added_at", Time.zone.now %>
              <%= button_tag(type: "submit", class: "btn btn-invis btn-default", id: "edit_tag_button_#{tag.id}") do %>
                <i class='fa fa-square-o fa-2x'></i>
              <% end %>
            <% end #if %>
        <% end #form %>
        </div>
      <div class="col-xs-5 col-sm-4 col-md-8 spaced-col vcenter">
        <span class='label-tag-editor label label-<%= tag.color %>' >
          <%= tag.body %>
          </span>
        </div>
      <% end #Tag.where %>
  </div>
</div>
